<div class="tabPart">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="menuitem"><a href="#/reservationList" data-toggle="tab">
            &nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span> Reservations</a></li>
        <li role="menuitem"><a href="#/seating" data-toggle="tab">
            <span class="glyphicon glyphicon-th"></span> Seating</a></li>
        <li role="menuitem" class="active"><a href="#/profile" data-toggle="tab">
            <span class="glyphicon glyphicon-list"></span> Profile</a></li>
        <li role="menuitem"><a href="#/setting" data-toggle="tab">
            <span class="glyphicon glyphicon-cog"></span> Setting</a></li>
        <li role="menuitem"><a href="#/contacts" data-toggle="tab">
            <span class="glyphicon glyphicon-user"></span> Contacts</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profilePanel">
            <h3>PROFILE</h3>
            <div ng-repeat="(key, value) in profileCtrl.profile">
                <div ng-if="key !== '_id'">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-sm-offset-2"><strong>{{key}}:</strong></div>
                        <div class="col-xs-4 col-sm-4">{{value}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>